@{
    ViewData["Title"] = "Home Page";
}
<div class="main-info">
    <div class="text-center">
        <h1 class="display-4">Weolcome to <br /><strong>Dictionary Web App</strong> </h1>



        <h2 style="text-align:left;margin-top:30px">@ViewBag.RandomWord </h2>
        <h3 style="text-align: left; color: #6f6f6f">@ViewBag.RandomWordTranslation</h3>
    </div>
    <img src="./dic.jpg" alt="">
</div>




