@{
    ViewData["Title"] = "Home Page";
}
<div class="main-info">
    <div class="text-center">
        <h1 class="display-4">Weolcome to <br /><strong>Dictionary Web App</strong> </h1>

<<<<<<< HEAD
        <p class="main__desc">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img src="./dic.jpg" alt="">
</div>
=======

<div class="text-center">
    <h1 class="display-4">Dictionary Web App</h1>

    <h2>@ViewBag.RandomWord </h2>
    <h3>@ViewBag.RandomWordTranslation</h3>
</div>
>>>>>>> 40939f6d6dbb6dd4fd3b193f1b859f3f536cf617
