@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Dictionary Web App</h1>

    <h2>@ViewBag.RandomWord </h2>
    <h3>@ViewBag.RandomWordTranslation</h3>
</div>
