@{
    ViewData["Title"] = "Home Page";
}
<div class="main-info">
    <div class="text-center">
        <h1 class="display-4">@ViewBag.RandomWord </h1>
        <p style="text-align: left; color: #6f6f6f">@ViewBag.RandomWordTranslation</p>
        <p style="text-align: left; color: #6f6f6f">@ViewBag.RandomWordMeaning</p>
    </div>
    <div class="img-center">
        <img src="./dic.jpg" alt="">
    </div>
</div>



