@{
    ViewData["Title"] = "Home Page";
}
<div class="main-info">
    <div class="text-center">
        <h1 class="display-4">Weolcome to <br /><strong>Dictionary Web App</strong> </h1>

        <p class="main__desc">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <img src="./dic.jpg" alt="">
</div>